#main {
    scroll-snap-type: y mandatory;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.container {
    scroll-snap-align: center;
}

footer {

    height: 18rem;
    background-color: var(--off-blue);
}

#footer__separator {
    background-color: var(--blue);
    height: 1.5rem;

}

.footer__div {
    font-family: Didactic Gothic, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 3rem;
}

.footer__div a {
    text-decoration: none;
    color: var(--light-blue);
}